@use 'cube/index';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 16px;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
	@apply font-grotesk text-black;
}

@layer components {
	.text-hollow {
		/* Use the text as a mask for the background. */
		/* This will show the gradient as a text color rather than element bg. */
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
	}

	.text-one-line {
		overflow-wrap: break-word;
		text-overflow: ellipsis;
		white-space: unset;
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
	}
	.text-two-line {
		overflow-wrap: break-word;
		text-overflow: ellipsis;
		white-space: unset;
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}
}

.hljs {
	background-color: transparent !important;
}
