@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 16px;
	@apply font-grotesk text-black;
}
@layer components {
	.text-hollow {
		/* Use the text as a mask for the background. */
		/* This will show the gradient as a text color rather than element bg. */
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
	}
}

.hljs {
	background-color: transparent !important;
}
